
WorkersCompany/obj/Debug/net5.0/WorkersCompany.GeneratedMSBuildEditorConfig.editorconfig
WorkersCompany/obj/Debug/net5.0/WorkersCompany.GeneratedMSBuildEditorConfig.editorconfig
WorkersCompany/obj/Debug/net5.0/apphost.exe
WorkersCompany/obj/WorkersCompany.csproj.nuget.dgspec.json
WorkersCompany/obj/WorkersCompany.csproj.nuget.g.props
WorkersCompany/obj/Debug/net5.0/WorkersCompany.csproj.AssemblyReference.cache
WorkersCompany/obj/Debug/net5.0/WorkersCompany.assets.cache
WorkersCompany/obj/Debug/net5.0/WorkersCompany.assets.cache
WorkersCompany/obj/Debug/net5.0/apphost.exe
WorkersCompany/obj/Debug/net5.0/apphost.exe
WorkersCompany/obj/Debug/net5.0/WorkersCompany.assets.cache
WorkersCompany/obj/Debug/net5.0/WorkersCompany.GeneratedMSBuildEditorConfig.editorconfig
WorkersCompany/obj/Debug/net5.0/WorkersCompany.csproj.AssemblyReference.cache
WorkersCompany/obj/Debug/net5.0/WorkersCompany.assets.cache
.vs/WorkersCompany/DesignTimeBuild/.dtbcache.v2
.vs/WorkersCompany/v16/.suo
